@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --cor-fundo:#00030C;
    --cor-texto:#ffffff;
    --cor-subtexto:#C0C0C0;
    --cor-destaque:#EC2F46;
    --cor-botao:#167BF7;
    --fonte-principal:'inter';

}

*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color:var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400px;
    

    
}
.container__titulo{
    font-size:28px;
    font-weight: 700px;
}
.apresentacao__principal{
    
    
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}   
.container__imagem{
    margin:1em 0 2em 0;


}
.container__botao1{

     border-radius: 5px ;
     padding: 1em;
    
    background-color: var(--cor-botao);
    border-radius: 5px;
    display: block;
    padding: 1em;
    color: var(--cor-texto);
    text-decoration: none;
    margin-bottom: 1em;
}
.container__botao2{
    border: 2px  solid var(--cor-texto);
    background-color: transparent;
   

    
}
.container__aviso{
    color: var(--cor-subtexto);
    font-size: 12px;
}
.container__caixa{
    margin: 0 6em;
}
.container__secundario{
    display: flex;
    align-items:center ;
    margin: 0 10em;
    
}
.container__secundario__imagens{
    width: 50%;
}
.container__secundario__titulo{
    font-size: 48px;
    font-weight: 700;
    color: var(--cor-texto);
    margin-bottom: 0.1em;
}
.container__secundario__descricao{
    color: var(--cor-subtexto);
    padding: 2em;
}
.container__botao3{
    display: inline-block;

    

}
.dispositivos{
   text-align: center;
    
}
.dispositivos__titulo{
    font-size: 48px;
    color: var(--cor-texto);

}
.dispositivos__listas{
    display:flex;
    text-align: center;
    justify-content: center;
    list-style-type:none;
    color: var(--cor-texto);
    margin: 5em 0;
}
.lista__item{
    font-size: 32px;
   color: var(--cor-texto);
    
}
.links__agrupados{
    display: flex;
    gap: 0px;
    font-size: 16px;
    margin: 2em 0;
}
.lista__link{
    margin: 0 0.9em;
    text-decoration: none;
    font-size: 16px;
    color: var(--cor-subtexto);
    display: flex;
    justify-content: center;
    
}
.rodape{
  text-align: center;
  padding-top: 5em;
  align-items: center;
}
.direitos__autorais{
    margin: 0 2em;
    color: var(--cor-subtexto);
    font-size: 14px;
    margin-bottom: 2em;
}
.final{
    margin-bottom: 6em;
}
.lista__link:hover{
    color: var(--cor-botao);
}
.lista__link:active{
    color: purple;
}


@media screen and (max-width:768px){

    .container{
        display:block;
        background-image:none;

    }
    .container__imagem{
        width:50vw;

    }
    .container__caixa{
        margin: 2em 2em;
    }
    .container__secundario{
        margin:0;
        text-align: center;

    }
    .container__secundario__imagens{
        width: 50vw;
    }
    .dispositivos__listas{
        display:block;
    }
    .links__agrupados{
        display: block;

    }

    
}